@import '../../variables/main';

.About {
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;

  & > div {
    margin-bottom: 2%;

    @media #{$tablet-portrait} { margin-bottom: 1% }
  }
}

.name {
  font-size: 2rem;
  font-weight: bolder;

  @media #{$phone-landscape} { font-size: 3rem }
  @media #{$tablet-portrait} { font-size: 4rem }
  @media #{$tablet-landscape} { font-size: 5rem }
}

.pronounce, .category {
  font-size: 1.5rem;

  @media #{$phone-landscape} { font-size: 1.75rem }
  @media #{$tablet-portrait} { font-size: 2rem }
  @media #{$tablet-landscape} { font-size: 2.25rem }
}

.category { font-style: italic }

.description {
  font-weight: bold;
  width: 80%;

  @media #{$phone-landscape} {
    font-size: 1.25rem;
    width: 75%;
  }
  @media #{$tablet-portrait} { width: 80% }
  @media #{$tablet-landscape} { width: 75% }
}

.icons {
  display: flex;
  justify-content: space-between;
  width: 70%;

  @media #{$phone-landscape} { width: 35% }
  @media #{$tablet-portrait} { width: 30% }
  @media #{$tablet-landscape} { width: 25% }
  @media #{$desktop-1366} { width: 20% }
  @media #{$desktop-1920} { width: 15% }
}
