$dark:  hsl(330, 4%, 9%);
$light: hsl(210, 14%, 89%);
$dark-gray:  hsl(250, 5%, 18%);
$dark-gray-transparent:  hsla(250, 5%, 18%, 0.1);
$light-gray: hsl(0, 0%, 49%);
$light-gray-transparent: hsla(0, 0%, 49%, 0.1);

$white: hsl(60, 30%, 96%);