@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&family=Fira+Code&display=swap');

$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$fira: 'Fira Code', monospace;