* { transition: .5s }

body, html {
  margin: 0;
  padding: 0
}

:root {
  /* Dracula Color Pallete */
  --background: #282a36;
  --selection: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;
}

::selection {
  background-color: var(--selection);
  color: var(--cyan);
}

/* mobile first */
body {
  background-color: var(--background);
  color: var(--foreground);
  font: 15px 'raleway', sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  margin: 2%;
}

nav.bar {
  opacity: 0;
  visibility: hidden;
}

nav.burger {
  cursor: pointer;
  z-index: 99
}

nav.burger.open {
  margin-top: 2.5%;
}

nav.burger.open > span:nth-child(1) {
  position: absolute;
  transform: rotate(-45deg);
}

nav.burger.open > span:nth-child(2) {
  opacity: 0;
}

nav.burger.open > span:nth-child(3) {
  position: absolute;
  transform: rotate(45deg);
}

nav.burger > span {
  border: solid 1px var(--foreground);
  border-radius: 5px;
  margin: 2px;
  width: 15px
}

main {
  display: flex;
  height: 100vh !important;
  width: 400%;
}

section {
  display: flex;
  width: 50%;
}

section.landing {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

div.title { font-size: 3.75rem }
div.subtitle { font-size: 1rem }

@media screen and (min-width: 768px) {
  nav.burger { margin: 2% }

  nav.burger > span {
    border: solid 1px var(--foreground);
    border-radius: 5px;
    margin: 5px;
    width: 30px
  }

  div.title { font-size: 7rem }
  div.subtitle { font-size: 1.5rem }
}

@media screen and (min-width: 1366px) {
  nav.burger { opacity: 0 }
  nav.bar {
    display: flex;
    flex-direction: row;
    margin: 2%;
    opacity: 1;
    visibility: visible;
    width: 96%;
  }

  nav.bar > div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  nav.bar > div > span {
    cursor: pointer;
    font-size: 1.25rem
  }

  nav.bar > div > span:hover { color: var(--cyan) }

  div.title { font-size: 10rem }
  div.subtitle { font-size: 2rem }
}