@import '../../variables/main';

.Home {
  align-items: center;
  flex-direction: column;
  justify-content: center
}

.name {
  font-size: 4rem;

  @media #{$phone-landscape} { font-size: 7rem }
  @media #{$tablet-portrait} { font-size: 8rem }
  @media #{$tablet-landscape} { font-size: 10rem }
}

.title {
  font-size: 1.5rem;

  @media #{$phone-landscape} { font-size: 2rem }
  @media #{$tablet-portrait} { font-size: 3rem }
}
