@import './variables/main';

body, html {
  background-color: $background;
  color: $foreground;
  font-family: $raleway;
  font-size: 15px;
  margin: 0;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 0
}

a { color: $foreground }

::selection {
  background-color: $selection;
  color: $cyan
}
