---
---
@import "colors";
@import "fonts";
@import "media";

body, html {
  background-color: $dark;
  color: $light;
  font-family: $montserrat;
  font-size: 15px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 100%;

  & a {
    color: $light;
    text-decoration: none;
  }
}

*::selection {
  color: $light-gray;
  background-color: $dark-gray;
}

nav {
  &#post {
    align-items: center;
    background-color: $dark-gray;
    color: $light;
    display: flex;
    height: 1.5em;
    justify-content: space-between;
    padding: .5em 1em;
    position: fixed;
    top: 0;
    max-width: 98%;
    transition: visibility .1s, opacity .5s;
    width: 98%;
    z-index: 99;


    @media #{$tablet-portrait} {
      top: auto;
      bottom: 0;
    }

    & > a#back {
      font-size: 2em;

      &:hover {
        color: $light-gray;
      }
    }

    & > div {
      display: grid;
      grid-template-columns: repeat(3, auto);

      & > a {
        border-bottom: solid 1px transparent;
        margin-right: 1em;
        transition: border .2s;

        &:hover {
          border-color: $light;
        }
      }
    }
  }
}

div.progress-bar {
  position: fixed;
  top: 0;
  border-bottom: solid 1px $light;
  z-index: 100;
}

// /posts/
.posts-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;

  & > div#header {
    width: 60%;
    max-width: 60%;


    @media #{$tablet-portrait} {
      width: 80%;
      max-width: 80%;
    }

    & > h4 {
      color: $light-gray;
    }
  }
}

.posts {
  background-color: $dark-gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 15px;
  width: 40%;
  max-width: 40%;

  @media #{$tablet-portrait} {
    width: 70%;
    max-width: 70%;
  }

  &-title {
    color: $light;
    font-family: $roboto;
    font-size: 2em;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &-time {
    color: $light-gray;
    font-size: .95em;
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

    & > span {
      border-radius: 50px;
      margin-bottom: 8px;
      margin-right: 8px;
      padding: 5px 10px;
      user-select: none;
      cursor: pointer;
    }

    &-content {
      background-color: $light-gray-transparent;
      color: $light;

      &:hover {
        box-shadow:inset 0 0 0 99999px $light-gray-transparent;
      }
    }

    &-category {
      color: $dark;

      &:hover {
        box-shadow:inset 0 0 0 99999px $dark-gray-transparent;
      }
    }
  }
}

.pagination {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  width: 25%;
  max-width: 25%;

  @media #{$tablet-portrait} {
    width: 70%;
    max-width: 70%;
  }

  & > * {
    margin: 4px 4px 8px 4px;
    padding: 5px 10px;
    user-select: none;
  }

  & > a, span.button {
    background-color: $light-gray;
    border-radius: 50px;

    &.active {
      background-color: $dark-gray;
    }
  }
}

// /posts/*
main#post {
  margin-top: 3em;
  max-width: 100%;
  padding: 0 30%;
  text-align: justify;
  line-height: 1.5;

  @media #{$tablet-portrait} {
    margin-top: 0em;
    padding: 0 10%;
  }

  & > div > h1.title {
    color: $light;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
  }

  & > blockquote {
    border-left: solid 5px $dark-gray;
    font-style: italic;
    margin: 0;
    padding-block-start: .5em;
    padding-block-end: .5em;
    padding-inline-start: 1em;
    padding-inline-end: 1em;
  }

  & > table {
    border: solid 5px $light-gray;
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
    width: 100%;

    & th {
      background-color: $light-gray;
    }
    & th, td {
      border-bottom: 1px solid $light-gray;
      overflow-wrap: anywhere;
      padding: 10px;
    }

    & tr {
      max-width: 100%;
      overflow: hidden;
    }

    & tr:hover {
      background-color: $light-gray-transparent;
    }
  }

  & code {
    background-color: $dark-gray;
  }

  & a {
    text-decoration: underline;
  }

  & > p {
    
    & > img {
      max-width: 100%;
    }
  }

  & div.highlighter-rouge {
    border-radius: 5px;
    background-color: $dark-gray;
    margin: 10px 0;

    & > div.highlight {
      overflow-x: scroll;
      -ms-overflow-style: none;
      padding: 0 10px;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }

      & > pre.highlight > code {
        font-family: $fira;
      }
    }
  }

  & div#copy {
    float: right;
    cursor: pointer;
    z-index: 1;

    &:hover {
      color: $light-gray;
    }
  }

  & > footer {
    color: $light-gray;
    font-size: .95em;
    margin: 5em 0;
    text-align: right;
  }
}

main > div#support {
  align-items: center;
  display: flex;
  flex-direction:column;
  height: 100vh;
  justify-content: center;
  max-width: 100%;
  width: 100%;

  & > h2 {
    max-width: 60%;
    text-align: center;
  }

  & > div#buttons {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    max-width: 60%;
    width: 60%;

    & > a.button {
      border: solid 1px $light;
      border-radius: 50px;
      text-align: center;
      min-width: 100px;
      padding: 1%;

      &:hover {
        background-color: $light-gray;
      }
    }
  }

  & >div#alternative {
    margin-top: 2%;
  }
}