$phone-portrait: 'only screen and (min-width: 320px)';
$phone-landscape: 'only screen and (min-width: 640px)';
$tablet-portrait: 'only screen and (min-width: 800px)';
$tablet-landscape: 'only screen and (min-width: 1200px)';
$desktop-1366: 'only screen and (min-width: 1366px)';
$desktop-1920: 'only screen and (min-width: 1920px)';