@import '../../variables/main';

.Knowledge {
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
}

.title {
  font-size: 3.5rem;
  margin-bottom: 5%;

  @media #{$tablet-portrait} {
    font-size: 5rem;
  }
}

.skills, .learn {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.25rem;
  max-width: 80%;
  
  @media #{$tablet-portrait} {
    font-size: 2rem;
  }

  & > span {
    margin: 2.5%;

    @media #{$phone-landscape} {
      margin: 1%;
    }
  }
}

.professional { font-weight: bolder }

.professional:hover, .nonProfessional:hover {
  cursor: default;
  text-shadow: $foreground 0px 0px 0px;
}

.learn { margin: 5% 1% }
