name: CD

on:
  schedule:
    - cron: '5 0 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
          submodules: true
          fetch-depth: 0
    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
          hugo-version: 'latest'
          extended: true
    - name: CD
      run: |
        make build
        git config --global user.name 'Github Actions'
        git config --global user.email '24659468+clavinjune@users.noreply.github.com'
        git add .
        git commit -snam "GH Actions CD" || true
        git push origin HEAD:master || true
